<section id="about">
    <div class="container">
        <div class="section-title h2 text-center mb-8">
            <h2 class="mb-0">Hakkımda</h2>
            <span class="title-letter">A</span>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 d-none d-lg-block">
                <img class="img-fluid w-100 rounded" src="~/Dashboard/demo/images/avatar.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <h3>Aykut Adem</h3>
                <p class="lead">Bilgisayar Mühendisi</p>
                <p class="mb-5">Bilgisayar Mühendisliği bölümünden yeni mezun oldum. Eğitim hayatım ve projelerim boyunca ağırlıklı olarak web geliştirme alanına odaklandım. Bununla birlikte sistem tasarımı, yapay zekâ ve bulut teknolojileri gibi farklı alanlara da ilgi duyuyorum. Yeni teknolojiler öğrenmekten, ekip içinde çalışmaktan ve bir geliştirici olarak kendimi sürekli geliştirmekten keyif alıyorum.</p>
                <div class="row mb-8">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <h4 class="mb-4">Eğitim</h4>
                        <p class="h5">MA Online Marketing</p>
                        <p>New York University, 2000 - 2003</p>
                        <p class="h5">BA Business & Marketing</p>
                        <p>Silver Oak College, 1998 - 2000</p>
                    </div>

                    <div class="col-md-6">
                        <h4 class="mb-4">Deneyimlerim</h4>
                        <p class="h5">Best Product Launch</p>
                        <p>FGA Marketing Awards, 2015</p>
                        <p class="h5">Highly Commended</p>
                        <p>Women in Business, 2010</p>
                    </div>
                </div>
                <a href="#" class="btn btn-primary">CV'mi İndirin</a>
                <a href="#contact" class="btn btn-light scrollto">Bana Yazın</a>
            </div>
        </div>
    </div>
</section>